<h2 id="title">Welcome to Ember</h2>

{{outlet}}
{{responsive-image image="test.png"}}
{{responsive-image image="test.png" lazy=false }}
{{responsive-image image="test.png" lazy=false lqip=false }}
{{responsive-image image="small.png"}}
{{responsive-image image="small.png"  lazy=false }}
{{responsive-image image="small.png" lazy=false lqip=false }}